@import url('https://fonts.googleapis.com/css?family=Lato');
.center {
    line-height: 500px;
}

    .center p {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }
